<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Branch Admin Account List</title>
	<meta charset="UTF-8">
	
	<th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />

	<th:block th:replace="fragments/sourcebundle.html :: mdbootstrap-table" />

</head>
<body>
	<div th:replace="fragments/layout.html :: navbar"></div>

	<div class="m-4">

		<h1 class="font-weight-bold">Branch Admin Account List</h1>

		<table id="dataTable" class="table table-striped">
			<thead>
				<tr class="row">
					<th class="col">First Name</th>
					<th class="col">Last Name</th>
					<th class="col">Handphone Number</th>
					<th class="col">Username</th>
					<th class="col">Role</th>
					<th class="col">Actions</th>
				</tr>
			</thead>
			<tbody th:each="user : ${branchAdminAccounts}" th:remove="tag">
				<tr class="row">
					<td class="col" th:text="${user.firstName}"></td>
					<td class="col" th:text="${user.lastName}"></td>
					<td class="col" th:text="${user.handphoneNo}"></td>
					<td class="col" th:text="${user.username}"></td>
					<td class="col" th:text="${user.role.getDisplayValue()}"></td>
					<td class="col">

						<a th:href="@{/manage/branch-admin-account/update/__${user.id}__}">
							<i class="fas fa-edit fa-lg" data-toggle="tooltip" data-placement="top" title="Edit Branch Admin Account"></i>
						</a>

						<span data-toggle="tooltip" data-placement="top" title="Delete Branch Admin Account">
							<i class="fas fa-trash-alt fa-lg ml-2 clickable" data-toggle="modal" th:data-target="${'#deleteConfirm' + user.id}"></i>
						</span>

						<th:block th:insert="fragments/support-elements.html :: modalbox-red"
							th:with="modalId=${'deleteConfirm' + user.id},modalTitle=${'Confirm Deletion'},modalBody=${'Are you sure you want to delete ' + user.username + '?'},
								modalConfirm=${'Delete'},confirmUrl=${'/manage/branch-admin-account/delete/' + user.id}">
						</th:block>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>