<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Reply Support Ticket</title>
    <meta charset="UTF-8">

    <th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />
</head>
<body>
    <div th:replace="fragments/layout.html :: navbar"></div>
	
	<h4 class="h4 mb-4" th:text ="${'Support Ticket #' + supportTicket.id}"></h4>
	
		<div class="text-center p-5"> 
			<div class="card">
			<div class="card-header h2" th:text="${supportTicket.title}"></div>
			<p class = "card-text" th:text = "${supportTicket.description}"></p>
			</div>
		</div>
	
	<form class="text-center p-5" method="post" th:action="@{/manage/support-ticket/reply}" th:object = "${supportTicket}">    
	    	<input type="hidden" th:field="*{id}">
			<input type="hidden" th:field="*{title}">
			<input type="hidden" th:field="*{description}">
			<input type="hidden" th:field="*{user}">
			
	        <div class="form-group">
	        	<label class="form-label" for="reply">Reply</label>
	            <textarea name="description" id="reply" class="form-control" placeholder="Reply..." style="width:100%;height:150px;" th:field="*{response}" required></textarea>	         
	        </div>          
	    
	    <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>
	
	</form>	

    <div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>