<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Queue List</title>
	<meta charset="UTF-8">
	
	<th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />

	<th:block th:replace="fragments/sourcebundle.html :: mdbootstrap-table" />

</head>
<body>
	<div th:replace="fragments/layout.html :: navbar"></div>

	<div class="m-4">

		<h1 class="font-weight-bold">Queue List</h1>

		<table id="dataTable" class="table table-striped">
			<thead>
				<tr class="row">
					<th class="col">Branch Name</th>
					<th class="col">Name</th>
					<th class="col">Description</th>
					<th class="col">State</th>
					<th class="col">Time Per Client</th>
					<th class="col">Notification Position</th>
					<th class="col">Notification Delay</th>
					<th class="col">Actions</th>
				</tr>
			</thead>
			<tbody th:each="queue : ${queues}" th:remove="tag">
				<tr class="row">
					<td class="col" th:text="${queue.branch.name}"></td>
					<td class="col" th:text="${queue.name}"></td>
					<td class="col" th:text="${queue.description}"></td>
					<td class="col" th:text="${queue.state.getDisplayValue()}"></td>
					<td class="col" th:text="${queue.timePerClient}"></td>
					<td class="col" th:text="${queue.notificationPosition}"></td>
					<td class="col" th:text="${queue.notificationDelay}"></td>
					<td class="col" >

						<a th:href="@{/manage/queue/update/__${queue.id}__}">
							<i class="fas fa-edit fa-lg" data-toggle="tooltip" data-placement="top" title="Edit Queue"></i>
						</a>

						<span data-toggle="tooltip" data-placement="top" title="Delete Queue">
							<i class="fas fa-trash-alt fa-lg ml-2" data-toggle="modal" th:data-target="${'#deleteConfirm' + queue.id}"></i>
						</span>

						<th:block th:insert="fragments/support-elements.html :: modalbox-red"
							th:with="modalId=${'deleteConfirm' + queue.id},modalTitle=${'Confirm Deletion'},modalBody=${'Are you sure you want to delete ' + queue.name + '?'},
								modalConfirm=${'Delete'},confirmUrl=${'/manage/queue/delete/' + queue.id}">
						</th:block>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="row">
					<td class="col">
						<a th:href="@{/manage/queue/create}"><button class="btn btn-info btn-block">Create New Queue</button></a>
					</td>
				</tr>
			</tfoot>
		</table>

	</div>

	<div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>