<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>qMe - Branch Operator</title>
    <th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />
    
    <th:block th:replace="fragments/sourcebundle.html :: mdbootstrap-table" />
    
    <script type="text/javascript">
    	function submitForm(element) {
    		document.getElementById(element.getAttribute("data-form")).submit();
    	}
    </script>
    
</head>
<body>
    <div th:replace="fragments/layout.html :: navbar"></div>

    <div class="m-4">
		<div class="row">
			<div class="col-6">
		        <h3 class="mb-4 font-weight-bold"><u>My Current Counter</u></h3>
		        <h5><span class="font-weight-bold">Vendor: </span><span th:text="${counter.queue.branch.vendor.name}">Vendor Name</span></h5>
		        <h5><span class="font-weight-bold">Branch: </span><span th:text="${counter.queue.branch.name}">Branch Name</span></h5>
		        <h5><span class="font-weight-bold">Queue: </span><span th:text="${counter.queue.name}">Queue Name</span></h5>
		        <h5 class="mb-4"><span class="font-weight-bold">Counter No.: </span><span th:text="${counter.name}">Counter No.</span></h5>
		        <h5><span class="font-weight-bold">Current Queue Length: </span><span th:text="${queueLength}">Queue Length</span></h5>
		        <h5><span class="font-weight-bold">Served By: </span><span th:text="|${counter.user.firstName} ${counter.user.lastName}|">Branch Operator Name</span></h5>
		        <h5 class="mb-4"><span class="font-weight-bold">Currently serving: </span><span th:if="${counter.currentlyServingQueueNumber != null}" th:text="${counter.currentlyServingQueueNumber.queueNumber}">Queue Number</span></h5>
		        <div class="row">
					<a th:href="@{/operate-queue/no-show-list/{queueId}(queueId=${counter.queue.id})}"><button type="button"  class="btn btn-primary rounded">View No Show</button></a>
				</div>
				<div class="row">
			        <form class="d-inline" th:action="@{/operate-queue/my-counter}" method="post">
			        	<input type="hidden" name="command" value="next">
			            <button type="submit" class="btn btn-success rounded">Call next number</button>
			        </form>
			        <form class="d-inline" th:if="${counter.currentlyServingQueueNumber != null}" th:action="@{/operate-queue/my-counter}" method="post">
			        <input type="hidden" name="command" value="no-show">
			            <button class="btn btn-danger rounded">No show</button>
			        </form>
		        </div>
	        </div>
	        <div class="col-6">
				<table class="table table-bordered">
					<tr class="table-primary">
						<th>Queue Number</th>
						<th>Position</th>
						<th>Duration In Queue</th>
						<th>Reassign Position</th>
					</tr>
					<tr class="table-light" th:each="qp : ${viewQueuePositions}">
						<td><i class="fas fa-exclamation-circle fa-lg" th:if="${qp.queuePosition.state.displayValue == 'Active Requeue'}" data-toggle="tooltip" data-placement="top" title="Rejoined queue"></i><span class="mx-1" th:text="${qp.queuePosition.queueNumber}"></span></td>
						<td th:text="${qp.position}">
						<td th:text="${qp.durationInQueue}">
						<td th:if="${qp.queuePosition.state.displayValue == 'Active Requeue' && qpStat.index != 0}">
							<button class="btn btn-primary btn-sm" type="button" data-toggle="modal" th:data-target="${'#reassignModal' + qp.queuePosition.id}">Reassign Position</button>
							
							<div class="modal fade" th:id="${'reassignModal' + qp.queuePosition.id}" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="modalTitle">Reassign Position</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row row-cols-4">
												<form id="reorderForm" method="post" th:action="@{/operate-queue/my-counter/reassign}">
													<input type="hidden" name="counterId" th:value="${counter.id}">
													<input type="hidden" name="queuePositionId" th:value="${qp.queuePosition.id}">
													<span>Reorder to: </span>
													<select name="position">
														<option th:each="number: ${#numbers.sequence(1, qp.queuePosition.position - 1)}" th:value="${number}" th:text="${number}">
													</select>
												</form>
											</div>
										</div>
										<div class="modal-footer">
											<button type="submit" class="btn btn-mdb-color btn-sm" data-dismiss="modal">Cancel</button>
											<button type="submit" class="btn btn-primary btn-sm" onclick="submitForm(this)" data-form="reorderForm">Reassign</button>
										</div>
									</div>
								</div>
							</div>						
							
							<form method="post" th:action="@{operate-queue/my-counter}">
								<input type="hidden" name="counterId" th:value="${counter.id}">
							</form>
						</td>
					</tr>
				</table>	        
	        </div>
        </div>

    </div>

	<input type="hidden" id="queueId" th:value="${counter.queue.id}">

    <div th:replace="fragments/layout.html :: footer"></div>

	<script>
		const queueId = document.getElementById("queueId").value;
		const eventSource = new EventSource("/operate-queue/sse/" + queueId);
		eventSource.onmessage = function (event) {
			if (event.data === "refresh") {
				location.reload();
			}
		}
	</script>
</body>
</html>