<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>qMe - Raise ticket</title>
    <meta charset="UTF-8">

    <th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />
</head>
<body>
    <div th:replace="fragments/layout.html :: navbar"></div>
	
	<form class="text-center border border-light p-5" method="post" th:action="@{/create-ticket}" th:object = "${supportTicket}">
	
	    <p class="h4 mb-4">New Support Ticket</p>
	    
	        <div class="form-group">
	        	<label class="form-label" for="supportTicketTitle">Title</label>
	            <input type="text" id="supportTicketTitle" class="form-control" th:field="*{title}">	            
	        </div>        
	    
	        <div class="form-group">
	        	<label class="form-label" for="description">Description</label>
	            <textarea name="description" id="description" class="form-control" placeholder="How can we help?" style="width:100%;height:150px;" th:field="*{description}" required></textarea>	         
	        </div>          
	    
	    <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>
	
	</form>	

</body>
</html>