<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>App Admin Account List</title>
	<meta charset="UTF-8">
	
	<th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />

	<th:block th:replace="fragments/sourcebundle.html :: mdbootstrap-table" />

</head>
<body>
	<div th:replace="fragments/layout.html :: navbar"></div>

	<div class="m-4">

		<h1 class="font-weight-bold">App Admin Account List</h1>

		<table id="dataTable" class="table table-striped">
			<thead>
				<tr class="row">
					<th class="col">First Name</th>
					<th class="col">Last Name</th>
					<th class="col">Handphone Number</th>
					<th class="col">Username</th>
					<th class="col">Role</th>
					<th class="col">Actions</th>
				</tr>
			</thead>
			<tbody th:each="appAdmin : ${appAdminAccounts}" th:remove="tag">
				<tr class="row">
					<td class="col" th:text="${appAdmin.firstName}"></td>
					<td class="col" th:text="${appAdmin.lastName}"></td>
					<td class="col" th:text="${appAdmin.handphoneNo}"></td>
					<td class="col" th:text="${appAdmin.username}"></td>
					<td class="col" th:text="${appAdmin.role.getDisplayValue()}"></td>
					<td class="col">

						<a th:href="@{/manage/app-admin-account/update/__${appAdmin.id}__}">
							<i class="fas fa-edit fa-lg" title="Edit App Admin Account"></i>
						</a>

						<a href="#"><i class="fas fa-trash-alt fa-lg ml-2" data-toggle="modal" th:data-target="${'#deleteConfirm' + appAdmin.id}" title="Delete App Admin Account"></i></a>

						<th:block th:insert="fragments/support-elements.html :: modalbox-red"
							th:with="modalId=${'deleteConfirm' + appAdmin.id},modalTitle=${'Confirm Deletion'},modalBody=${'Are you sure you want to delete ' + appAdmin.username + '?'},
								modalConfirm=${'Delete'},confirmUrl=${'/manage/app-admin-account/delete/' + appAdmin.id}">
						</th:block>
					</td>
				</tr>
			</tbody>

			<tfoot>
				<tr class="row">
					<td class="col">
						<a th:href="@{/manage/app-admin-account/create}"><button class="btn btn-info btn-block">Create App Admin</button></a>
					</td>
				</tr>
			</tfoot>
		</table>

	</div>

	<div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>