<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>qMe - Login</title>
    <th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />
    <style>
        #container {
            max-width: 400px;
        }
    </style>
</head>
<body>
    <div class="m-4">
        <div class="mx-auto text-center" id="container">
            <h2 class="font-weight-bold mb-4"><img width="65" th:src="@{/images/logos/qMe_logo.png}"> qMe+<sup>+</sup></h2>
            <h3 class="mb-4">Login here!</h3>
            <form th:action="@{/login}" method="post">
                <div class="alert alert-success h5 font-weight-normal" role="alert" th:if="${param.logout}">Logout successful</div>
                <div class="alert alert-danger h5 font-weight-normal" role="alert" th:if="${error != ''}" th:text="${error}">Incorrect username or password</div>
                <input type="text" class="form-control form-control-lg mb-4" placeholder="Username" name="username" required autofocus>
                <input type="password" class="form-control form-control-lg mb-4" placeholder="Password" name="password" required>
                <button type="submit" class="btn btn-info btn-block mb-4 p-2"><h5 class="m-0">Login</h5></button>
            </form>
            <!--<div class="d-flex flex-row justify-content-between">
                <a href="#"><h5 class="mb-0">Forgot Password</h5></a>
                <a th:href="@{/register}"><h5 class="mb-0">I'm new!</h5></a>
            </div>-->
            <a th:href="@{/}"><h5>Back to homepage</h5></a>
        </div>
    </div>
</body>
</html>