<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Create Branch</title>
    <meta charset="UTF-8">

    <th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />
</head>
<body>
    <div th:replace="fragments/layout.html :: navbar"></div>
	
	<form class="text-center border border-light p-5" method="post" th:action="@{/manage/branch/create}" th:object="${branch}" enctype="multipart/form-data">
	
	    <p class="h4 mb-4">New Branch</p>
	    
	    <input type="hidden" th:field="*{id}">
	
		<input type="hidden" th:field="*{vendor}">
	
	    <div class="form-row mb-4">
	        <div class="col form-group">
	        	<label class="form-label" for="branchName">Branch name</label>
	            <input type="text" id="branchName" class="form-control" th:field="*{name}" required>
	            <p class="text-danger text-left" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>            
	        </div>
	        
	        <div class="col form-group">
	        	<label class="form-label" for="category">Category</label>
	        	<select class="form-select form-control" name="category" th:field="*{category}" required>
	        		<option value="" selected>Select Category</option>
	        		<option th:each="category : ${T(io.azuremicroservices.qme.qme.models.BranchCategory).values()}"
	        			th:value="${category}" th:text="${category.displayValue}"></option>
	        	</select>
	        	<p class="text-danger text-left" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></p>            
	        </div>	        
	    </div>
	    
	    <div class="form-row mb-4">
	        <div class="col form-group">
	        	<label class="form-label" for="address">Address</label>
	            <input type="text" id="address" class="form-control" th:field="*{address}" required>
	            <p class="text-danger text-left" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
	        </div>
	        
	         <div class="col form-group">
	        	<label class="form-label">Image Upload</label>
	        	<input class = "form-control border-0" type = "file" name = file id =file accept = "image/png, image/jpeg"/>         
	        </div>	        
	    </div>
	    
	    <div class="form-row mb-4">
	        <div class="col form-group">
	        	<label class="form-label" for="description">Description</label>
	            <input type="text" id="description" class="form-control" th:field="*{description}" placeholder="Description" required>
	            <p class="text-danger text-left" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
	        </div>
	    </div>
	    
	    <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>
	
	</form>
	
    <div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>