<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Branch List</title>
	<meta charset="UTF-8">
	
	<th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />

	<th:block th:replace="fragments/sourcebundle.html :: mdbootstrap-table" />
	
	<script type="text/javascript">
		function loadPreview(element) {
			if (element.files && element.files[0]) {
				let reader = new FileReader();
				
				reader.onload = function(e) {
					let image = document.getElementById("previewHolder");
					image.setAttribute('src', e.target.result);
				}
				
				reader.readAsDataURL(element.files[0]);
			}
		}
	</script>

</head>
<body>
	<div th:replace="fragments/layout.html :: navbar"></div>

	<div class="m-4">

		<h1 class="font-weight-bold">Branch List</h1>

		<table id="dataTable" class="table table-striped">
			<thead>
				<tr class="row">
					<th class="col"> Image </th>
					<th class="col">Branch Name</th>
					<th class="col">Address</th>
					<th class="col">Description</th>
					<th class="col">Category</th>
					<th class="col">Actions</th>
				</tr>
			</thead>
			<tbody th:each="branch : ${branches}" th:remove="tag">
				<tr class="row">
					<td class = "col" align="center">
						<img style= "width:100px; height: 70px" th:src = "@{${branch.branchImagePath}}">
					</td>
					<td class="col" th:text="${branch.name}"></td>
					<td class="col" th:text="${branch.address}"></td>
					<td class="col" th:text="${branch.description}"></td>
					<td class="col" th:text="${branch.category.getDisplayValue()}"></td>
					<td class="col">
						<a th:href="@{/manage/branch/update/__${branch.id}__}">
							<i class="fas fa-edit fa-lg" data-toggle="tooltip" data-placement="top" title="Edit Branch"></i>
						</a>

						<span data-toggle="tooltip" data-placement="top" title="Delete Branch">
							<i class="fas fa-trash-alt fa-lg ml-2 clickable" data-toggle="modal" th:data-target="${'#deleteConfirm' + branch.id}"></i>
						</span>																
					
						<a th:href="@{/manage/branch-admin-account/create/__${branch.id}__}"><i class="fas fa-user-plus fa-lg ml-2" data-toggle="tooltip" data-placement="top" title="Add Branch Admin Account"></i></a>

						<th:block th:insert="fragments/support-elements.html :: modalbox-red"
							th:with="modalId=${'deleteConfirm' + branch.id},modalTitle=${'Confirm Deletion'},modalBody=${'Are you sure you want to delete ' + branch.name + '?'},
								modalConfirm=${'Delete'},confirmUrl=${'/manage/branch/delete/' + branch.id}">
						</th:block>
											
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="row">
					<td class="col">
						<a th:href="@{/manage/branch/create}"><button class="btn btn-info btn-block">Create New Branch</button></a>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>