<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>qMe - App Admin</title>
    <th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />
</head>
<body>
    <div th:replace="fragments/layout.html :: navbar"></div>
    <h2 class="text-center">App Admin Landing Page</h2>
    
      <div class="row">
        <div class="col text-center">
            <a th:href="@{/manage/support-ticket/list}" class="btn btn-block btn-warning">
                <i class="fa fa-question-circle fa-5x"></i><br/>
                Support Tickets<br>
            </a>
        </div>
        <div class="col text-center">
            <a th:href="@{/manage/vendor/list}" class="btn btn-block btn-primary">
              <i class="fa fa-building fa-5x"></i><br/>
              Manage Vendors<br>
            </a>        	
        </div>
        <div class="col text-center">
            <a th:href="@{/manage/user-account/list}" class="btn btn-block btn-success">
              <i class="fa fa-user fa-5x"></i><br/>
              Manage Users<br>
            </a>        
        </div>
	</div>    
    
    <div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>