<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Update User Account</title>
    <meta charset="UTF-8">

    <th:block th:replace="fragments/sourcebundle.html :: mdbootstrap" />
</head>
<body>
    <div th:replace="fragments/layout.html :: navbar"></div>
	
	<form class="text-center border border-light p-5" method="post" th:action="@{/manage/user-account/update}" th:object="${user}">
	
	    <p class="h4 mb-4">Update User Account</p>
	    
	    <input type="hidden" th:field="*{id}">
	    <input type="hidden" th:field="*{role}">
	    <input type="hidden" th:field="*{perspective}">
	    <input type="hidden" th:field="*{blocked}">
	    
	    <div class="form-row mb-4">
	        <div class="col form-group">
	        	<label class="form-label" for="userAccountFirstName">First Name</label>
	            <input type="text" id="userAccountFirstName" class="form-control" th:field="*{firstName}">
	            <p class="text-danger text-left" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>	            
	        </div>
	        
	        <div class="col form-group">
	        	<label class="form-label" for="userAccountLastName">Last Name</label>
	            <input type="text" id="userAccountLastName" class="form-control" th:field="*{lastName}">
	            <p class="text-danger text-left" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>            
	        </div>	        	        		       
	    </div>
	    
	    <div class="form-row mb-4">
	        <div class="col form-group">
	        	<label class="form-label" for="userAccountEmail">Email</label>
	            <input type="text" id="userAccountEmail" class="form-control" th:field="*{email}" required>	
	            <p class="text-danger text-left" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>            
	        </div>
	        
	        <div class="col form-group">
	        	<label class="form-label" for="userAccountHandphoneNo">Handphone Number</label>
	            <input type="text" id="userAccountHandphoneNo" class="form-control" th:field="*{handphoneNo}">
	            <p class="text-danger text-left" th:if="${#fields.hasErrors('handphoneNo')}" th:errors="*{handphoneNo}"></p>	            
	        </div>	        
	    </div>
	
	    <div class="form-row mb-4">
	        <div class="col form-group">
	        	<label class="form-label" for="userAccountUsername">Username</label>
	            <input type="text" id="userAccountUsername" class="form-control" th:field="*{username}" required>
	            <p class="text-danger text-left" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>            
	        </div>
	        
	        <div class="col form-group">
	        	<label class="form-label" for="userAccountPassword">Password</label>
	            <input type="password" id="userAccountPassword" class="form-control" th:field="*{password}">
	            <p class="text-danger text-left" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>         
	        </div>	        
	    </div>	    	     	   
	    
	    <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>
	
	</form>	

    <div th:replace="fragments/layout.html :: footer"></div>
</body>
</html>